* {
    box-sizing: border-box;
    background-color: rgb(247, 138, 244);
    font-family: cursive;
}

h1{
    color: rgb(214, 67, 209);
    background-color:blueviolet;
    margin-top: 0;
    height: 10%;
    border-radius: 0 0 5% 5%;
    text-align: center;
    width: 
    
}

body { margin: 0%
    background-color: orchid;



}
section{
    border-style: outset;
    border-color: gold;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    margin: 10%;
    padding: 10%;
    border-radius: 20%;
    text-shadow: 20%;
    border-width: medium;
    font-size: 20px;
    text-shadow: white;
    

}

div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.click { 
    margin: 10%;
    background-color:gold;
    border-radius: 50%;
    


}
.card__bookmark {
    position: absolute;
    top: 10%;
    right: 3%;
    font-size: 27px; 
}

.card__bookmark:hover{
    background-color: red;
    border-radius: 50%;
    height: 27px;
    width: 27px;
}

nav{
    display: flex;
    justify-content: space-between;
    flex-direction: ;
}


.navigation{
    background-color: blueviolet;
    color: rgb(214, 67, 209);
    padding: 5px 14px;
    border-radius: 5px; 
    
}

.Bauchbinde{
    list-style: none;
    display: flex;
    justify-content: start;
    gap: 5%;
}